* {
    box-sizing: border-box;
}
body {
    font-family: 'PT Sans', sans-serif;
}
.container {
    width: 980px;
    padding-left: 10px;
    padding-right: 10px;
}
/* header */
.shop-info {
    background-color: antiquewhite;
    width: 100%;
    height: 230px;
    display: flex;
    justify-content: center;
}
.logo-name-contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.logo-name {
    display: flex;
    gap: 10px;
    height: 130px;
}
.logo {
    width: 130px;
   
}
.logo a img {
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 5px rgb(113, 109, 109);
}
.logo-name > .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.logo-name > .name > h3 {
    font-size: 26px;
    font-weight: bold;
    color: #474747;
    line-height: 30px;
}
.logo-name > .name > p {
    font-size: 18px;
    color: #474747;
}
.contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.numbers a {
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
}
.numbers a div {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 40px;
    color: #474747;
}
.feedback {
    font-size: 24px;
    font-weight: bolder;
    color: #474747;
    cursor: pointer;
}
.feedback:hover {
    text-decoration: underline;
}
/* Add modal-block */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
  }
.modal-block {
    width: 470px;
    height: 580px;
    background-color:#ffffff;;
    margin: 280px auto;
    padding: 30px;
}
.form-feedback {
    position: relative;
    text-align: center;
}
.form-feedback h3 {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bolder;
    color: #535353;
}
.form-field {
    margin-bottom: 15px;
}
.form-field p, .textarea-field p {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #535353;
}
.form-field input {
    width: 340px;
    height: 40px;
    border: 1px solid #53535376;
}
.form-field-email {
    box-shadow: inset 1px 1px 10px rgb(219, 33, 33);
    border: red;
    padding-left: 10px;
    font-style: italic;
}
.textarea {
    width: 340px;
    height: 140px;
    resize: none;
    margin-bottom: 20px;
}
.btn-close {
    position: absolute;
    right: -60px;
    top: -60px;
    color: #ffffff;
    background-color: #777777 ;
    width: 30px;
    height: 30px;
    font-size: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-send {
    width: 125px;
    height: 40px;
    background-color: #777777;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: auto;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.menu {
    background-color: #474747ce;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
}
.menu-list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-list > li {
    border-right: 1px solid aliceblue;
    padding-right: 25px;
}
.menu-list > li:last-child {
    border-right: none;
}
.menu-list > li > a {
    color: aliceblue;
    text-decoration: none;
    font-size: 30px;
    font-weight: 200;
}
.menu-list > li > a:hover {
    font-weight: bolder;
    text-decoration: underline;
}
/* main */
.slider {
    width:100%;
    height: 550px;
    display: flex;
}
.slider img {
    width: 100%;
}
main > .container {
    margin: auto;
}
.category-way a {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #535353;
    margin: 10px 5px 10px 0;
    display: inline-block;
}
.category-way a:hover {
    text-decoration: underline;
}
.goods {
    width: 870px;
}
.goods-search {
    display: flex;
    justify-content: space-between;
}
.filters {
    width: 200px;
    list-style-type: disc;
}
.filters li {
    margin: 15px;
}
.filters li a:hover {
    text-decoration: underline;
}
.filters li a {
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: #535353;
}
.filter-categories {
    margin: 10px;
}
.filter-categories li a {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: #535353;
}
.filter-categories li a:hover {
    text-decoration: underline;
    font-weight: bolder;
}
.goods-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 15px;
}
.item {
    width: 250px;
    height: 380px;
    background-color: #474747ce;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.item img {
    width: 210px;
    height: 210px;
    margin: auto;
}
.item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.item-description h2 {
    font-size: 18px;
    margin-top: 20px;
}
.item-description h2 a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}
.item-description h2 a:hover {
   font-weight: bold;
}
.bottom-content {
    display: flex;
    justify-content: space-between;
}
.price {
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
}
.btn-add-to-cart {  
    background-color: #47474700;
    border: none;
    cursor: pointer;
}
.btn-add-to-cart img {
    width: 30px;
    height: 30px;
}
.number-of-pages {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 0 60px 0;
    border-bottom: 1px solid black;
}
.number-of-pages a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: black;
}
.number-of-pages a:hover {
    font-size: 20px;
    font-weight: 500;
}
.information-about-company {
    /* width: 780px; */
    display: flex;
    gap: 40px;
    justify-content: end;
    padding-top: 30px;
    margin-bottom: 200px;
}
.information-about-company p {
    width: 370px;
    font-size: 14px;
    line-height: 18px;
    padding: 5px;
}

footer {
    width: 100%;
    height: 220px;
    background-color: #474747ce;
}